*{
  padding: 0;
  margin: 0;
  font-family: "Akaya Telivigala", monospace, sans-serif;
  font-size: 22px;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 90vh;
  width: 100%;
  text-align: center;
  background-color: #e3e3e3;
  padding: 5px 0;
}
h1{
  color: #262834;
  font-size: 22px;
  padding: 8px;
}
.container{
  width: 96%;
  margin: 0 auto;
  background-color: #080808;
  padding: 10px 5px 5px 5px;
  box-sizing: border-box;
  border-radius: 4px;
}
.btns{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(60px, auto);
}
.btns button{
  padding: 8px;
  margin: 5px;
  background-color: #262834;
  color: #e3e3e3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.btns button.btn{
  background-color: #56cbdb;
  color: #262834;
  font-weight: bold;
}
.btns button:first-of-type{
  grid-column: 1/3;
  grid-row: 1;
}
.btns button:last-of-type{
  grid-column: 3/6;
  grid-row: 1;
}
textarea{
  width: calc(100% - 10px);
  height: calc(100vh - 150px);
  border: none;
  outline: none;
  background-color: #121212;
  resize: none;
  border-radius: 4px;
  color: #e3e3e3;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px 5px 0px 5px;
  letter-spacing: 0.2px;
  font-family: monospace, sans-serif;
  font-size: 20px;
}